services:
  backend:
    build: ./backend
    ports:
      - 8080:8080
    depends_on:
      - mongodb

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes: 
      - dbdata:/data/db
  
  redis:
    image: redis:latest
    ports:
     - "6379:6379"

volumes:
  dbdata: